<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>877920874093-q66781l5m6no5mqnpqu04aq24o3bdmtb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877920874093-q66781l5m6no5mqnpqu04aq24o3bdmtb</string>
	<key>API_KEY</key>
	<string>AIzaSyDC08kUu4lhF8Oe3AHaYFWzjenWP47DlFI</string>
	<key>GCM_SENDER_ID</key>
	<string>877920874093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pawan.healthapp.healthcareproject</string>
	<key>PROJECT_ID</key>
	<string>health-70604</string>
	<key>STORAGE_BUCKET</key>
	<string>health-70604.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:877920874093:ios:fb5149603e176ef3</string>
	<key>DATABASE_URL</key>
	<string>https://health-70604.firebaseio.com</string>
</dict>
</plist>